<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="scan_topic" default="base_scan" />
  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>

  <arg name="use_gmapping"  default="false"/>
  <!-- <arg name="use_hector_slam"  default="false"/> -->

  <group if="$(arg use_gmapping)"> 

    <include file="$(find robot_model)/launch/includes/slam//gmapping.launch.xml">
      <arg name="scan_topic" default="$(arg scan_topic)" />
      <arg name="set_base_frame" default="$(arg set_base_frame)"/>
      <arg name="set_odom_frame" default="$(arg set_odom_frame)"/>
      <arg name="set_map_frame"  default="$(arg set_map_frame)"/>
    </include>
  </group>

  <group unless="$(arg use_gmapping)"> 
    <include file="$(find robot_model)/launch/includes/slam//hector_slam.launch.xml">
      <arg name="odom_frame" default="$(arg set_odom_frame)"/>
      <arg name="base_frame" default="$(arg set_base_frame)"/>
      <arg name="map_frame" default="$(arg set_map_frame)"/>
      <arg name="scan_topic" default="$(arg scan_topic)"/>
    </include>
  </group>
  <!-- Gmapping -->



</launch>
