<?xml version="1.0"?>
<launch>
  <!-- define controller param -->
  <rosparam file="$(find robot_model)/config/controller.yaml" command="load"/>

  <!-- define specific name -->

  <arg name="model" default="$(find robot_model)/urdf/lumibot_model.xacro"/>
  <arg name="rvizconfig" default="$(find robot_model)/rviz/urdf.rviz" />

  <!-- Load model urdf use robot description param-->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  <!-- joint state publisher package -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <!-- robot state publisher package -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!-- rviz node - Load config file for rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


  
  
</launch>
